.App {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.container{
	width:100%;
	padding: 0px; 
}

.top-bar{
    background-color: white;
}

.bottom-bar{
    padding-top: 60px;
}

.category{
	border: white 1px solid;
	border-radius: 50%;
	height:250px;
	width:250px;
    display: inline-block;
}

.learn{
    background-color: #A9FFCF;
}

.create{
    background-color: #a9fffa;
}

.love{
    background-color: #cfa9ff;
}

.rest{
    background-color: #fdfd96;
}

.cat-name{
    margin-top: 100px;
    font-size: 25px;
}

